# Flutter/Dart
**/.dart_tool/
**/build/
**/.packages

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Runner.xcworkspace/

# Android
**/android/.gradle/
**/android/local.properties

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Flutter
.build/
.dart_tool/
